<div class="demo-card-wide mdl-card mdl-shadow--2dp ">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" data-status="all">Your Tasks</h2>
  </div>
  <div class="task-container">

  </div>
  <div class="mdl-card__menu">
    <div hidden><strong>Command:</strong> <span class="command-text"></span></div>
    <div hidden><strong>Task:</strong> <span class="task-text"></span></div>
  </div>
</div>
