<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">Commands</h4>
  <div class="mdl-dialog__content">
    You can issue voice commands to add, complete, or remove tasks,
    to issue any voice command push the voice button then:
      <br>
      - to add a task say: <strong>"plus"</strong> then your task.<br>
      - to remove a task say: <strong>"remove"</strong> then the task to remove.<br>
      - to complete a task say: <strong>"check"</strong> then the task to check.<br>
      - to complete all the tasks say: <strong>"check all"</strong>.<br>
      - to remove all the tasks say: <strong>"clear"</strong>.

    <br>
    <br>
    You can also issue voice commands to navigate tasks by status:
      <br>
      - to see all the tasks say: <strong>"All"</strong>.<br>
      - to see the active tasks say: <strong>"Active"</strong>.<br>
      - to see the completed tasks say: <strong>"Completed"</strong>.
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button mdl-button--bold close">Ok, I get it.</button>
  </div>
</dialog>
