<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">Voice Task</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <!-- <nav class="mdl-navigation">
      <a class="mdl-navigation__link mdl-navigation__link--active" href="#all"><i class="material-icons">indeterminate_check_box</i></a>
      <a class="mdl-navigation__link" href="#active"><i class="material-icons">check_box_outline_blank</i></a>
      <a class="mdl-navigation__link" href="#completed"><i class="material-icons">check_box</i></a>
    </nav> -->
    <a class="mdl-button mdl-button--bold mdl-button--colored mdl-js-button mdl-js-ripple-effect show-dialog">
      Voice Commands
    </a>
  </div>
</header>
