:root {
  --first-color:#673ab7;
  --second-color:#18ffff;
  --third-color:#ec4d5a;
}

html, body {
  margin: 0;
  padding: 0;
}

.mdl-button--position {
  position: absolute;
  bottom: 22px;
  right: 22px;
  z-index: 1000;
}

.page-content {
  padding: 16px;
}

.mdl-navigation__link--active {
  color:var(--second-color) !important;
}

.mdl-card {
  min-height: auto;
}

.demo-card-wide.mdl-card {
  width: 100%;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 67px;
  background: var(--first-color);
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card--center {
  padding: 16px 16px;
  display: flex;
  align-items: center;
}

.mdl-card--completed-color{
  color:var(--third-color);
}

.mdl-card--active-color{
  color:var(--first-color);
}

.mdl-card__actions-text {
  margin: 0 0 0 16px;
}

.mdl-button--bold {
  font-weight: bold;
}

.recorded--opacity {
  opacity: .4;
}

.mdl-dialog {
  width: 80%;
}

.mdl-layout__header-row {
  padding-left: 16px;
}

.mdl-layout-title {
  text-transform: uppercase;
  font-weight: 600px;
  font-size: 16px;
}

.mdl-card__title-text {
  align-self: center;
  font-size: 20px;
}

.mdl-button.mdl-button--colored {
  color: #FFF;
}

.command {
  line-height: 2;
}

body.offline a{opacity:.3;pointer-events:none}
body.offline a.cached{opacity:1;pointer-events:initial}
